#home-header {
    width: 100%;
    min-height: 8.6rem;
    box-sizing: border-box;
}

#home-header .screen-header {
    width: 100%;
    height: 4.8rem;
    gap: 12px;
    padding: 0 12px;
    background-color: #2C2C2C;
}

#home-header .screen-header * {
    color: #ffffff;
}

#home-header .screen-header .header_block1 {
    height: 100%;
    width: 26rem;
    box-sizing: border-box;
    border-right: 1px solid #5c5c5c;
    gap: 0.8rem;
}

#home-header .screen-header .header_block2 {
    flex: 1;
}

.screen-header .header_block2 .search-input {
    width: 38rem;
    height: 3.2rem;
    gap: 0.8rem;
    padding: 0 1.2rem;
    align-items: center;
    border-radius: 16px;
    background-color: #444444;
}

.screen-header .header_block2 .search-input input::placeholder {
    color: rgb(255, 255, 255, 0.6);
}

#home-header .screen-header .header_block3 button {
    height: 3.2rem;
    border-radius: 4px;
}

#home-header .screen-header .header_block3 .join-by-code {
    padding: 0 1rem;
    border-radius: 16px;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

.screen-header .header_block3 button:not(.join-by-code):hover {
    transition: 0.3s;
    background-color: rgb(25, 25, 25);
}

#home-header .screen-header .header_block3 button>i {
    padding: 0.8rem;
    font-size: 1.6rem;
}

.show-user-action {
    padding: 0 1.2rem;
}

#home-body {
    width: 100%;
    height: 100%;
    flex: 1;
    position: relative;
    box-sizing: border-box;
}

#home-body>#nav-container {
    width: 26rem;
    height: 100%;
    padding: 4px 0;
    box-sizing: border-box;
}

#home-body>#nav-container .nav_tile {
    min-height: 3.6rem;
    padding: 0px 1.2rem;
    box-sizing: border-box;
    cursor: context-menu;
    transition: 0.2s;
}

#home-body>#nav-container .nav_tile.selected {
    background-color: rgba(58, 109, 248, 0.1);
}

#home-body>#nav-container .border-bottom {
    margin: 4px 1.2rem;
    border-bottom: 1px solid var(--divider-color);
}

#home-body>#content-container {
    flex: 1;
    height: 100%;
    padding-left: 1.6rem;
    box-sizing: border-box;
    width: 100%;
}

.content-container-header {
    min-height: 8.2rem;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-color);
}

#info-container {
    width: 30rem;
    height: 100%;
    padding: 0 1.6rem;
    overflow: auto;
}

#content-container .add-project-container {
    width: 100%;
    padding: 1.6rem 0;
    box-sizing: border-box;
}

#content-container .add-project-container .button-add-project {
    width: 30rem;
    text-align: start;
    padding: 1.2rem;
    border-radius: 0.6rem;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    gap: 0.8rem;
    cursor: pointer;
}

.add-project-container .button-add-project>.box32 {
    border-radius: 2px;
    background-color: var(--primary-color);
    box-sizing: border-box;
}

.add-project-container .button-add-project>.box32>i {
    font-size: 1.6rem;
    color: #ffffff;
}

#home-body>#content-container .sort-container {
    width: 100%;
    margin-bottom: 0.8rem;
    box-sizing: border-box;
    justify-content: end;
    gap: 0.8rem;
}

#content-container .sort-container .type-view-button {
    border: 1px solid var(--border-color);
    border-radius: 2px;
    box-sizing: border-box;
}

#content-container .sort-container .type-view-button.selected {
    border-color: var(--primary-color);
}

#content-container .sort-container .type-view-button.selected>i {
    color: var(--primary-color);
}

#content-container .project-content-container {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    flex-wrap: wrap;
    align-content: start;
    padding: 1.2rem 0.8rem;
    gap: 0.8rem;
    align-items: stretch;
}

#content-container .project-content-container .project-card {
    border-radius: 0.6rem;
    box-sizing: border-box;
    background-color: rgba(162, 176, 194, 0.25);
    border: 1px solid var(--overlay-color);
    --gutter: 0.8rem
}

.project-content-container .project-card>.project-bg {
    height: 19.2rem;
    width: 100%;
    background-color: var(--background);
}

.project-content-container .project-card>.project-card-info {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 0.8rem;
    gap: 0.8rem;
}

.project-content-container .project-card>.project-card-info>.box24 {
    background-color: var(--primary-color);
    border-radius: 2px;
}
