.login-screen {
    width: 100%;
    height: calc(100% - 38px);
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.login-screen .login-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
}

.login-screen .login-left img {
    height: 40px;
    width: 160px;
    object-fit: cover;
}

.login-screen .login-left span {
    justify-content: center;
}


.login-screen .login-right {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-screen .login-right span:nth-child(3) {
    position: absolute;
    color: white;
    top: 98px;
}

.login-screen .login-right span:nth-child(4) {
    position: absolute;
    color: white;
    top: 148px;
    padding: 0 160px;
    text-align: center;
}

.login-screen .login-right img:nth-child(1) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.login-screen .login-right img:nth-child(2) {
    width: 723px;
    height: 491px;
    object-fit: cover;
    position: absolute;
}


.login-title {
    display: flex;
    align-items: center;
    height: 48px;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
}

.login-content {
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 24px;
    color: #595959;
    margin-top: 4px;
}

.login-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-with-google {
    height: 48px;
    min-height: 48px;
    width: 448px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 44px;
    background-color: white;
    border: 2px solid #292929;
}

.login-form .login-with-google img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin-right: 4px;
}

.login-form .login-with-google span {
    font-size: 16px;
    font-weight: 600;
}

#login-input-password,
#login-input-password {
    font-size: 14px;
}

.login-form-container {
    width: 448px;
    display: inline-flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 16px;
}

#button-login {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 48px;
    min-height: 48px;
    color: #fff;
    margin-top: 16px;
    border-radius: 8px;
    border: none;
    margin: 32px 0;
}

.login-version {
    font-size: 14px;
    color: #9FB0C7;
    margin-top: 40px;
    text-align: center;
}

.login_browser {
    height: 54px;
    min-height: 54px;
    width: 100%;
    color: white !important;
    margin-top: 48px;
    margin-bottom: 16px;
    border-radius: 8px;
    justify-content: center;
    background-color: #292929 !important;
}

.login_browser:hover {
    background-color: #292929;
}

/* TODO: new css */
.login-view {
    flex: 1;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    background-color: white;
    align-items: center;
}

.login-view .wini-logo {
    width: 140px;
    height: fit-content;
    position: fixed;
    top: 64px !important;
    left: 24px !important;
}

.login-view .login-version {
    width: 50%;
    height: fit-content;
    position: fixed;
    bottom: 48px !important;
}

.login-view .login_form {
    width: fit-content;
    height: 100%;
    box-sizing: border-box;
}

.login-view .login_form * {
    white-space: nowrap;
}

.login-view .login_form .button-forgot-password {
    width: 100%;
    text-align: end;
}

.login-view .login_form .login-input-container {
    position: relative;
    min-height: 54px;
    width: 100%;
    min-width: 468px;
    margin: 12px 0;
    padding: 0;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
}

.login-view .login_form .login-input-container .input-label {
    left: 16px;
    position: absolute;
    pointer-events: none;
    font-weight: 500;
    display: none;
}

.login-view .login_form .login-input-container input:focus,
.login-view .login_form .login-input-container input:not(:placeholder-shown) {
    padding-top: 16px;
}

.login-view .login_form .login-input-container input:focus~span {
    top: 4px;
    font-size: 12px;
    font-weight: 600;
    display: inline;
    transition: all 0.3s ease;
    color: var(--primary-color) !important;
}

.login-view .login_form .login-input-container span.input-valid,
.login-view .login_form .login-input-container input:valid~span,
.login-view .login_form .login-input-container input:not(:placeholder-shown)~span {
    top: 4px;
    font-size: 12px;
    font-weight: 600;
    display: inline !important;
}

.login-input-visible {
    right: 8px;
    position: absolute;
    background-color: transparent;
}

.window-bar {
    width: 100%;
    height: 38px;

    background-color: #262626;
}

.w-login-view {
    width: 100%;
    height: calc(100% - 38px);

    align-items: center;
    justify-content: center;

    background-image: url("../lib/assets/background/pexels-antoni-shkraba-4348401.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.w-login-view * {
    flex-shrink: 0;
    box-sizing: border-box;
}

.w-login-view .w-login-form {
    padding: 32px 48px;

    border-radius: 24px;

    background-color: white;
}

.w-login-view .w-login-form .g_id_signin {
    height: 48px;
    background-color: red;
}


.login-with-facebook,
.login-with-google {
    padding: 0 20px !important;
    box-sizing: border-box !important;

    width: 424px !important;
    height: 48px !important;
    border: 1px solid rgba(0, 53, 128, 0.2) !important;

    border-radius: 24px !important;
    border: 1px solid var(--border-light-theme-border-1, rgba(0, 53, 128, 0.2)) !important;
    background: var(--background-light-theme-white, #fff) !important;

    box-shadow: none !important;
}

.login-with-facebook .title,
.login-with-google .title {
    color: var(--background-dark-theme-black, #394960) !important;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    margin: 0 24px;
}

.login-with-facebook .icon,
.login-with-google .icon {
    width: 20px;
    height: 20px;
}

.divider-container {
    width: 424px;

    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    margin: 20px 0;
}

.divider-container .line {
    flex: 1;
    height: 1px;
    flex-shrink: 0;
    background: rgba(0, 53, 128, 0.08);
    background-blend-mode: multiply;
}

.divider-container .label {
    color: var(--typography-light-theme-subtitle, rgba(0, 32, 77, 0.60));
    text-align: center;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}